ENV=local
GOOGLE_API_KEY='YOURAPIKEY'
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/milo
RAG_SERVICE_URL="RAG_SERVICE_URL"
DB_POOL_SIZE="10"
DB_MAX_OVERFLOW="10"
FIREBASE_SERVICE_ACCOUNT_PATH="serviceaccountjsonpath"
AUTH_REQUIRED=true